<h2 align="center"  style="font-family:Impact; color:#b22222" >Добро пожаловать, [логин]!</h2>
<br>
<br>
<div id="sectionA" style="margin-left: 5%">
  <mat-card class="example-card">
    <img mat-card-image src="assets/resource/no_img.jpg" alt="Avatar">
    <mat-card-actions >
      <div align="center">
        <input type="file">
        <button mat-button ><div style="font-family:Verdana; font-size: 12pt;">Изменить</div></button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

<div align="center" id="sectionB">EWFWEFWEFW</div>
<div align="center" id="sectionC">EFWEFWEF</div>
