::ng-deep  .mat-expansion-panel-header {
    font-family: 'Cormorant Garamond', serif;
    font-size : 75%;
}


::ng-deep .mat-expansion-panel-content {
    font-family: 'Cormorant Garamond', serif;
}
::ng-deep  .mat-table {
    font-family: 'Cormorant Garamond', serif;
}
