<html >
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>
<style>
      .test{
      font-family: 'Cormorant Garamond', serif;
      font-size: 170%;
      color : #ffffff;
      }
      .test1{
      font-family: 'Cormorant Garamond', serif;
      font-size: 100%;
      color : black;
      }
   </style>
<body style="background-image: url(https://images.unsplash.com/photo-1486492440844-ebc195542a40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80); background-size: 100%;  " class="test" >
<br>
<div style="display: table; width: 100%; ">
  <div style="display: table-row; width: 100%; ">
    <div style="display: table-cell; width: 26%" align="center">
      <img *ngIf="userprofile && userprofile.logoUrl.length>8" src={{userprofile.logoUrl}} style="width: 70%; margin-left: 5%; vertical-align: middle" align="center">
      <img *ngIf="userprofile && userprofile.logoUrl.length<=8" src="assets/resource/nophoto.jpg" style="width: 70%; margin-left: 5%; vertical-align: middle" align="center">
      <input name="myFile" id = "imageFormId" accept="image/*" type="file" style="margin-top: 5%; margin-left: 20%" (change)="onFileChanged($event)">
      <br>
      <button mat-button class="test" style="font-size: 100%" (click)="onUpload()">Отправить</button>
    </div>
    <div style="display: table-cell; width: 70%; vertical-align: top" align="center">
      <div style="font-size: 120%">Добро пожаловать, {{userprofile.login}}</div>
      <div style=" width: 70%; margin-top: 5%">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Редактирование" >
            <mat-card style="margin-top: 3%">
              <div style="text-align: center; display: inline-block; vertical-align: middle; width: 100%;font-size:65%; ">
                <div class="test1" style="font-size:130%">Для измененения данных заполните форму:</div>
                <mat-form-field appearance="fill" style="width:80%;  display: inline-block; vertical-align: middle; color: black; margin-top: 3%" >
                  <mat-label class="test1">Придумайте логин</mat-label>
                  <input matInput class="test1" [formControl]="login" required>
                  <mat-error *ngIf="login.invalid" class="test1">{{getErrorMessageLogin()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" style="width:80%;  display: inline-block; vertical-align: middle;">
                  <mat-label class="test1" >Введите вашу почту</mat-label>
                  <input matInput class="test1" placeholder="Пример - ivan1234@mail.ru" [formControl]="email" required>
                  <mat-error class="test1" *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill"  style="width:80%;  display: inline-block; vertical-align: middle;">
                  <mat-label class="test1">Выберете дату рождения</mat-label>
                  <input class="test1" matInput [matDatepicker]="picker" [formControl]="date" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div style="margin-bottom: 2%">
                  <button mat-button class="test1" *ngIf="this.login.invalid || this.email.invalid" [disabled]="true" type="submit">
                    <div style="">Изменить данные</div>
                  </button>
                  <button mat-button class="test1" *ngIf="!this.login.invalid && !this.email.invalid" type="submit" (click)="sendUserData()">
                    <div style="">Изменить данные</div>
                  </button>
                </div>
              </div>
            </mat-card>
            <mat-card style="margin-top: 3%; margin-bottom: 3%">
              <div style="text-align: center; display: inline-block; vertical-align: middle; width: 100%;font-size:65%; ">
                <div class="test1" style="font-size:130%">Для измененения пароля заполните форму:</div>
                <mat-form-field appearance="fill" style="width:80%;  display: inline-block; vertical-align: middle; margin-top: 3%">
                  <mat-label class="test1">Введите старый пароль</mat-label>
                  <input matInput class="test1" [type]="hidePass ? 'password' : 'text'" placeholder="Пример - password12345*" [formControl]="passOld"  required>
                  <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                    <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="passOld.invalid" class="test1">{{getErrorMessagePassOld()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" style="width:80%;  display: inline-block; vertical-align: middle;">
                  <mat-label class="test1">Введите пароль</mat-label>
                  <input matInput class="test1" [type]="hidePass ? 'password' : 'text'" placeholder="Пример - password12345*" [formControl]="passFirst"  required>
                  <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                    <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="passFirst.invalid" class="test1">{{getErrorMessagePassFirst()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" style="width:80%;  display: inline-block; vertical-align: middle;">
                  <mat-label class="test1">Повторите пароль</mat-label>
                  <input matInput class="test1" [type]="hidePass ? 'password' : 'text'" placeholder="Пример - password12345*" [formControl]="passSecond" required>
                  <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                    <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error class="test" *ngIf="passSecond.invalid">{{getErrorMessagePassSecond()}}</mat-error>
                </mat-form-field>
                <div style="margin-bottom: 2%">
                  <button mat-button class="test1" *ngIf="this.passSecond.invalid || this.passFirst.invalid" [disabled]="true" type="submit">
                    <div style="">Изменить пароль</div>
                  </button>
                  <button mat-button class="test1" *ngIf=" !this.passSecond.invalid && !this.passFirst.invalid" type="submit" (click)="changePass()">
                    <div style="">Изменить пароль</div>
                  </button>
                </div>
              </div>
            </mat-card>
          </mat-tab>
          <mat-tab label="Избранное">

            <mat-card style = 'margin-top: 3%'>
              <div *ngIf = "this.userprofile.favoriteFilms.length>0">
                <mat-card class="test1" style="width: 20%; margin-left: 3%; margin-top: 3%; display: inline-block; font-size: 80%;height:350px;vertical-align: middle" *ngFor="let film of obs | async">
                  <div align="left">
                    <div style="display: inline">
                      <img src="assets/resource/rate.png" style="margin-top: 1%; margin-right: 2%; margin-left: 2%; width: 10%; float:inherit;" align="left">
                    </div>
                    <div style="display: inline;" align="left">{{(film.rating+"").substring(0,4)}}</div>
                    <div style="display: inline">
                      <img src="assets/resource/age.png" style="margin-top: 1%; margin-right: 2%; margin-left: 2%; width: 10%; float:inherit;" align="left">
                    </div>
                    <div style="display: inline;" align="left">{{film.ageRestrictions}}</div>
                  </div>
                  <img src={{film.logo}} style="margin-top: 2%; margin-right: 2%; margin-left: 2%; width: 90%">
                  <div style="font-weight: bold; margin-left: 3%; margin-top:3%; margin-right: 3%;">{{film.filmTitle}}</div>
                  <button mat-button  style="width: 100%; margin-left: 2%; margin-top: 3%; display: inline-block" class="test1" (click)="goFilmPage(film.idFilm)">Смотреть</button>
                </mat-card>
                <mat-paginator #MatPaginator1
                               [pageSizeOptions]="[4]" >
                </mat-paginator>
              </div>
              <div *ngIf = "!this.userprofile.favoriteFilms || this.userprofile.favoriteFilms.length == 0">
                <mat-card style=" width: 100%; margin-bottom: 1%;">
                  <div class="test1">Ваш список избранного пока пуст</div>
                </mat-card>
              </div>
            </mat-card>

      </mat-tab>
      <mat-tab label="Рекомендации">
        <div *ngIf = "obsRec && this.recFilms.length>0">
          <mat-card style = 'margin-top: 3%'>
            <!--              <div class="test1" style="font-size:90%">Рекомендации:</div>-->
            <mat-card class="test1" style="width: 20%; margin-left: 3%; margin-top: 3%; display: inline-block; font-size: 80%;height:350px;vertical-align: middle" *ngFor="let film of obsRec | async">
              <div align="left">
                <div style="display: inline">
                  <img src="assets/resource/rate.png" style="margin-top: 1%; margin-right: 2%; margin-left: 2%; width: 10%; float:inherit;" align="left">
                </div>
                <div style="display: inline;" align="left">{{film.rating}}</div>
                <div style="display: inline">
                  <img src="assets/resource/age.png" style="margin-top: 1%; margin-right: 2%; margin-left: 2%; width: 10%; float:inherit;" align="left">
                </div>
                <div style="display: inline;" align="left">{{film.filmAge}}+</div>
              </div>
              <img src={{film.filmPoster}} style="margin-top: 2%; margin-right: 2%; margin-left: 2%; width: 90%">
              <div style="font-weight: bold; margin-left: 3%; margin-top:3%; margin-right: 3%;">{{film.filmTitle}}</div>
              <button mat-button  style="width: 100%; margin-left: 2%; margin-top: 3%; display: inline-block" class="test1" (click)="goFilmPage(film.idFilm)">Смотреть</button>
            </mat-card>
            <mat-paginator #MatPaginator2
                           [pageSizeOptions]="[4]" >
            </mat-paginator>
          </mat-card>
        </div>
        <div *ngIf = "!obsRec || this.recFilms.length==0">
          <br>
          <mat-card style=" width: 78%; margin-bottom: 1%;">
            <div class="test1">Ваш список рекомендаций пока пуст</div>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Комнаты">
        <mat-card style = 'margin-top: 3%; font-size: 100%;'>
          <div class="test1">Комнаты, где вы организатор:</div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%">
            <!--- Note that these columns can be defined in any order.
               The actual rendered columns are set as a property on the row definition" -->
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Название комнаты</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef>Ссылка</th>
              <td mat-cell *matCellDef="let element">
                <button mat-button class="test1" (click)="goToRoom(element.session)">Перейти</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card>
      </mat-tab>
      <mat-tab label="Уведомления">
        <mat-card style = 'margin-top: 3%; font-size: 100%;'>
          <table mat-table [dataSource]="dataForNotifications" class="mat-elevation-z8" style="width: 100%">
            <!--- Note that these columns can be defined in any order.
               The actual rendered columns are set as a property on the row definition" -->
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>Отправитель</th>
              <td mat-cell *matCellDef="let element">  {{element.position}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Текст сообщения</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef>Ссылка</th>
              <td mat-cell *matCellDef="let element">
                <button mat-button class="test1" (click)="goToRoom(element.weight)">Прочитано</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card>
      </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
</div>
<!--      <button mat-button (click)="getUserData(1)"><div >123</div></button>-->
<!--      <p>userId - {{this.user.userId}}</p>-->
<!--      <p>name - {{this.user.name}}</p>-->
<!--      <p>birthday - {{this.user.birthday}}</p>-->
<!--      <p>logoUrl - {{this.user.logoUrl}}</p>-->
<!--      <p>description - {{this.user.description}}</p>-->
<!--      <p>registrationDate - {{this.user.registrationDate}}</p>-->
</body>
</html>
