<h2 align="center"  style="font-family:Impact; color:#b22222" >Добро пожаловать, [логин]!</h2>
<br>
<br>
<div id="sectionA">
  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-actions >
      <div align="center">
        <button mat-button ><div style="font-family:Verdana; font-size: 12pt;">Изменить</div></button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

<div align="center" id="sectionB">EWFWEFWEFW</div>
<div align="center" id="sectionC">EFWEFWEF</div>
