::ng-deep .mat-tab-label {
  color : #ffffff;
  font-family: 'Cormorant Garamond', serif;
  font-size: 150%
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #ccccff;
}

::ng-deep .nb-theme-default body {
   line-height: normal;
}
:host ::ng-deep .mat-tab-body-content {
    height: auto;
}
::ng-deep .nb-theme-default a {
    color: black;
    text-decoration: none;
}
