<html >
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>
<style>
.test{
font-family: 'Cormorant Garamond', serif;
  font-size: 100%;
  color : #ffffff;
}
</style>
<body style="background-color: black " class="test">
<br>
<div style="width: 100%;">
  <img src="http://avatars.mds.yandex.net/get-kinopoisk-image/4303601/880fabac-7893-4a4e-a11c-966de84b1e9d/600x900" style="width:20%;float:left; margin-top: 5%" vspace="3" hspace="91">

  <div style="color : #ffffff; width: 100%; height: 100%; " >
    <div align="center" style="font-size: 200%; ">Земля кочевников</div>
    <br>
    <mat-tab-group style="color : #ffffff;height: 100%" mat-align-tabs="center" class="test">
      <mat-tab style="color : #ffffff;" class="test" label="Описание">

        <div style="display: table; width: 100%; margin-top: 3%;font-size: 150%;">
          <div style="display: table-row;width: 100% ">
            <div style="display: table-cell; width: 20%; color: #ccccff">Жанр:</div>
            <div style="display: table-cell">Драмма</div>
          </div>

          <div style="display: table-row">
            <div style="display: table-cell; color: #ccccff">Режиссер:  </div>
            <div style="display: table-cell">Хлои Чжао</div>
          </div>

          <div style="display: table-row">
            <div style="display: table-cell; color: #ccccff">В ролях:</div>
            <div style="display: table-cell">Фрэнсис МакДорманд, Дэвид Стрэтэйрн, Линда Мэй , Шарлин Свэнки , Боб Уэллс</div>
          </div>

          <div style="display: table-row">
            <div style="display: table-cell; color: #ccccff">Рейтинг:</div>
            <div style="display: table-cell">7.0</div>
          </div>

          <div style="display: table-row">
            <div style="display: table-cell; color: #ccccff">Возрастные ограничения:</div>
            <div style="display: table-cell">18+</div>
          </div>

        </div>

        <div style="width: 90%;font-size: 150%; margin-top: 2%" class="test">
          Ферн (Фрэнсис МакДорманд) остается без работы и без дома, когда во время экономического кризиса закрывается единственная фабрика в её небольшом городке. Единственный выход для Ферн - погрузить свой небогатый скарб в фургон и стать одной из племени современных кочевников, путешествующих от штата к штату в поисках сезонного заработка. В фильме снялись настоящие кочевники – Линда Мэй, Шарлин Свэнки и Боб Уэллс, которые стали для Ферн наставниками и товарищами в бесконечном путешествии по просторам США.
        </div>

      </mat-tab>
      <mat-tab style="color : #ffffff; " class="test" label="Трейлер">Трейлер</mat-tab>
      <mat-tab style="color : #ffffff;" class="test" label="Фильм"> Content 3 </mat-tab>
      <mat-tab style="color : #ffffff;" class="test" label="Отзывы"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
</div>


</body>
</html>
