<html >
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>
<style>
      .test{
      font-family: 'Cormorant Garamond', serif;
      font-size: 170%;
      color : #ffffff;
      }
      .test1{
      font-family: 'Cormorant Garamond', serif;
      font-size: 100%;
      color : black;
      }
   </style>
<body style="background-image: url(https://images.unsplash.com/photo-1486492440844-ebc195542a40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80); background-size: 100%;  " class="test" >
<br>
<div style="display: table; width: 100%; ">
  <div style="display: table-row; width: 100%; ">
    <div style="display: table-cell; width: 26%" align="center">
      <div>
        <img src="assets/resource/addfilm.png" style="width: 70%; margin-left: 5%; vertical-align: middle" align="center">
      </div>
    </div>
    <div style="display: table-cell; width: 70%; vertical-align: top" align="center">

      <div style="margin-top: 3%">Для добавления фильма,пожалуйста, заполните форму ниже:</div>
      <div class="test1" style="margin-top: 3%; margin-right: 3%">
        <mat-horizontal-stepper linear #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel > Fill out your name</ng-template>
              <mat-form-field style="width:80%">
                <mat-label class="test1" >Название фильма</mat-label>
                <input matInput placeholder="Синтел" class="test1" formControlName="filmTitleCtrl" required>
              </mat-form-field>
              <mat-form-field style="width:80%">
                <mat-label class="test1" >Id видео на YouTube</mat-label>
                <input matInput placeholder="HOfdboHvshg" class="test1"  formControlName="filmTrailerCtrl" required>
              </mat-form-field>
              <mat-form-field style="width:80%">
              <mat-label class="test1" >Описание фильма</mat-label>
              <input matInput class="test1"  formControlName="descriptionCtrl" required>
            </mat-form-field>
              <div>
                <button mat-button class="test1" (click)="addFilm()">Отправить</button>
                <button mat-button matStepperNext class="test1">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
            <form [formGroup]="secondFormGroup">
              <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                       required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious class="test1">Back</button>
                <button mat-button matStepperNext class="test1">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>
</body>
</html>
