<html >
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>
<style>
      .test{
      font-family: 'Cormorant Garamond', serif;
      font-size: 170%;
      color : #ffffff;
      }
      .test1{
      font-family: 'Cormorant Garamond', serif;
      font-size: 100%;
      color : black;
      }
   </style>
<body style="background-image: url(https://images.unsplash.com/photo-1486492440844-ebc195542a40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80); background-size: 100%;  " class="test" >
<br>
<div style="display: table; width: 100%; ">
  <div style="display: table-row; width: 100%; ">
    <div style="display: table-cell; width: 26%" align="center">
      <div>
        <img src="assets/resource/addfilm.png" style="width: 70%; margin-left: 5%; vertical-align: middle" align="center">
      </div>
    </div>
    <div style="display: table-cell; width: 70%; vertical-align: top" align="center">

      <div style="margin-top: 3%">Для добавления фильма,пожалуйста, заполните форму ниже:</div>
      <div class="test1" style="margin-top: 3%; margin-right: 3%">
        <mat-horizontal-stepper #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
<!--              <ng-template matStepLabel >Общие данные</ng-template>-->
              <mat-form-field style="width:80%">
                <mat-label class="test1" >Название фильма</mat-label>
                <input matInput placeholder="Синтел" class="test1" formControlName="filmTitleCtrl" required>
              </mat-form-field>
              <mat-form-field style="width:80%">
                <mat-label class="test1" >Id видео на YouTube</mat-label>
                <input matInput placeholder="HOfdboHvshg" class="test1"  formControlName="filmTrailerCtrl" required>
              </mat-form-field>
              <mat-form-field style="width:80%">
              <mat-label class="test1" >Описание фильма</mat-label>
              <input matInput class="test1"  formControlName="descriptionCtrl" required>
            </mat-form-field>
              <div>
                <button mat-button class="test1" *ngIf="!filmId" (click)="addFilm()">Отправить</button>
                <button mat-button matStepperNext *ngIf="filmId" class="test1">Следующая страница</button>
              </div>
            </form>
          </mat-step>
          <mat-step class="test1">
                <mat-label class="test1">Постер фильма</mat-label>
                <input name="myFile" id = "imageFormId" accept="image/*" type="file" style="margin-top: 5%; margin-left: 20%" (change)="onFileChanged($event)"  required>
              <div>
                <button mat-button class="test" *ngIf="!this.filmPoster" style="font-size: 100%" (click)="onUpload()" class="test1">Отправить</button>
                <button mat-button matStepperNext *ngIf="this.filmPoster" class="test1" class="test1">Следующая страница</button>
              </div>
          </mat-step>
          <mat-step class="test1">
            <mat-label class="test1">Скрин №1</mat-label>
            <input name="myFile" accept="image/*" type="file" style="margin-top: 5%; margin-left: 20%" (change)="onFileChanged($event)"  required>
            <div>
              <button mat-button class="test" *ngIf="!this.filmScreen1" style="font-size: 100%" (click)="onUploadScreen()" class="test1">Отправить</button>
              <button mat-button matStepperNext *ngIf="this.filmScreen1" class="test1" class="test1">Следующая страница</button>
            </div>
          </mat-step>
          <mat-step class="test1" >
            <mat-label class="test1">Скрин №2</mat-label>
            <input name="myFile" accept="image/*" type="file" style="margin-top: 5%; margin-left: 20%" (change)="onFileChanged($event)"  required>
            <div>
              <button mat-button class="test" *ngIf="!this.filmScreen2" style="font-size: 100%" (click)="onUploadScreen()" class="test1">Отправить</button>
              <button mat-button matStepperNext *ngIf="this.filmScreen2" class="test1" class="test1">Следующая страница</button>
            </div>
          </mat-step>
          <mat-step class="test1">
            <mat-label class="test1">Скрин №3</mat-label>
            <input name="myFile" accept="image/*" type="file" style="margin-top: 5%; margin-left: 20%" (change)="onFileChanged($event)"  required>
            <div>
              <button mat-button class="test" *ngIf="!this.filmScreen3" style="font-size: 100%" (click)="onUploadScreen()" class="test1">Отправить</button>
              <button mat-button matStepperNext *ngIf="this.filmScreen3" class="test1" class="test1">Следующая страница</button>
            </div>
          </mat-step>
          <mat-step class="test1">
            <mat-label class="test1">Скрин №4</mat-label>
            <input name="myFile" accept="image/*" type="file" style="margin-top: 5%; margin-left: 20%" (change)="onFileChanged($event)"  required>
            <div>
              <button mat-button class="test" *ngIf="!this.filmScreen4" style="font-size: 100%" (click)="onUploadScreen()" class="test1">Отправить</button>
              <button mat-button matStepperNext *ngIf="this.filmScreen4" class="test1" class="test1">Следующая страница</button>
            </div>
          </mat-step>

          <mat-step class="test1">
            <mat-label class="test1">Скрин №5</mat-label>
            <input name="myFile" accept="image/*" type="file" style="margin-top: 5%; margin-left: 20%" (change)="onFileChanged($event)"  required>
            <div>
              <button mat-button class="test" *ngIf="!this.filmScreen5" style="font-size: 100%" (click)="onUploadScreen()" class="test1">Отправить</button>
              <button mat-button matStepperNext *ngIf="this.filmScreen5" class="test1" class="test1">Следующая страница</button>
            </div>
          </mat-step>

          <mat-step class="test1">
            <mat-label class="test1">Видео</mat-label>
            <input name="myFile" accept="video/*" type="file" style="margin-top: 5%; margin-left: 20%" (change)="onFileChanged($event)"  required>
            <div>
              <button mat-button class="test" *ngIf="!this.filmVideo" style="font-size: 100%" (click)="onUploadScreen()" class="test1">Отправить</button>
              <button mat-button matStepperNext *ngIf="this.filmVideo" class="test1" class="test1">Следующая страница</button>
            </div>
          </mat-step>


          <mat-step class="test1">
            <mat-label class="test1">Жанры</mat-label>
            <div  [formGroup]="filterFormGroup">
              <mat-checkbox style="display:block;margin-top: 1%; margin-left:3%"
                            class="test1"
                            *ngFor="let filter of this.filters; index as i"
                            (change)="onChange($event)"
                            [value]="filter.id_genre+''" >{{filter.genre_title}}</mat-checkbox>
            </div>
            <div>
              <button mat-button class="test" *ngIf="!this.filmGenre" style="font-size: 100%" (click)="addGenre()" class="test1">Отправить</button>
              <button mat-button matStepperNext *ngIf="this.filmGenre" class="test1" class="test1">Следующая страница</button>
            </div>
          </mat-step>

          <mat-step>
            <br>
            <p class="test1">Фильм добавлен</p>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>
</body>
</html>
