<html >
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>
<style>
      .test{
      font-family: 'Cormorant Garamond', serif;
      font-size: 130%;
      color : #ffffff;
      }
      .test1{
      font-family: 'Cormorant Garamond', serif;
      font-size: 100%;
      color : black;
      }
   </style>
<body style="background-image: url(https://images.unsplash.com/photo-1486492440844-ebc195542a40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80); background-size: 100%;  " class="test" >
<br>
<div style="display: table; width: 100%; ">
  <div style="display: table-row; width: 100%; ">
    <div style="display: table-cell; width: 26%;" align="center">
      <mat-card style="margin-left:1%; margin-top:3%">
        <div class="test1">Друзья:</div>
      </mat-card>
      <mat-card style="margin-left:1%; margin-top:3%">
        <div class="test1">Входящие заявки:</div>
      </mat-card>
      <mat-card style="margin-left:1%; margin-top:3%">
        <div class="test1">Исходящие заявки:</div>
      </mat-card>
    </div>
    <div style="display: table-cell; width: 70%; vertical-align: top" align="center">
      <form style="display: inline" >
        <mat-form-field style="width: 70%; margin-left: 3%" >
          <mat-label class="test">Искать по логину</mat-label>
          <input matInput placeholder="" value="" class="test">
<!--                 [(ngModel)]="userIn" name="userIn"-->

        </mat-form-field>
      </form>
      <button mat-button  class="test" >Поиск</button>
<!--      (click)="postUserSearchOptions()"-->
      <button mat-button class="test" >
        <div style="">Сбросить</div>
      </button>
      <div style="display:table; width: 90%; margin-top: 1%; margin-left: 3%; margin-right: 1%; margin-bottom: 1%" align="center">
      <mat-card style="display:table-cell; width: 78%; margin-bottom: 1%;">
        <mat-card class="test" style="width: 20%; margin-left: 3%; margin-top: 3%; display: inline-block; color: black; margin-bottom: 1%" *ngFor="let user of obs | async">
          <img *ngIf="user.logoUrl.length>8" src={{user.logoUrl}} style="margin-top: 2%; margin-right: 2%; margin-left: 2%; width: 90%; height: 80%">
          <img *ngIf="user.logoUrl.length<=8" src="assets/resource/nophoto.jpg" style="margin-top: 2%; margin-right: 2%; margin-left: 2%; width: 90%; height: 80%">
          <div style="font-weight: bold; margin-left: 3%; margin-top:3%; margin-right: 3%;">{{user.login}}</div>
          <button mat-button  style="width: 80%; margin-left: 2%; margin-top: 3%; display: inline-block" class="test1" >Перейти</button>
<!--          (click)="goFilmPage(film.id)"-->
        </mat-card>
        <mat-paginator
          [pageSizeOptions]="[4,8]" >
        </mat-paginator>
      </mat-card>
      </div>
    </div>
  </div>
</div>
</body>
</html>
