<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap" rel="stylesheet">
</head>
<style>

.main{
font-family: 'Cormorant Infant', serif;
  font-size: 120%
}
</style>
  <body>
  <br>

  <button class="main" mat-button (click)="goHomePage()">Главная</button>
  <button class="main" mat-button (click)="goCatalogPage()">Каталог</button>
  <button class="main" mat-button (click)="goUserPage()">Личный кабинет</button>
  <button class="main" mat-button (click)="goAuthorizationPage()">Авторизация</button>
  <button class="main" mat-button (click)="goRegistrationPage()">Регистрация</button>
  <button class="main" mat-button (click)="goFilmPage()">Фильм</button>

  <nb-layout>
    <nb-layout-column>
      <router-outlet></router-outlet>
    </nb-layout-column>

  </nb-layout>


  <app-recommendation-chat-open-button
    (click)="openChat()"of
    *ngIf="!chatIsOpen"
    class="open_button"
  ></app-recommendation-chat-open-button>

  <app-closable-recommendation-chat
    (closeChat)="closeChat()"
    *ngIf="chatIsOpen"
    class="chat"
  ></app-closable-recommendation-chat>

  </body>
</html>


