.open_button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
}

.chat {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
}

::ng-deep .nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
    padding-top: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
}

.ava {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

