<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap" rel="stylesheet">
</head>
<style>

.main{
font-family: 'Cormorant Infant', serif;
  font-size: 120%
}
</style>
  <body>
  <br>
  <div style="display: table; width: 100%; margin-bottom: 0.5%; ">
    <div style="display: table-row; width: 100%; ">
      <div style="display: table-cell; width: 90%; vertical-align: top">
        <button class="main" mat-button (click)="goHomePage()">Главная</button>
        <button class="main" mat-button (click)="goCatalogPage()">Каталог</button>
        <button class="main" *ngIf='localStorageService.getItem("userId")' mat-button (click)="goUserPage()">Личный кабинет</button>
        <button class="main" *ngIf='!localStorageService.getItem("userId")'mat-button (click)="goAuthorizationPage()">Авторизация</button>
        <button class="main" *ngIf='!localStorageService.getItem("userId")'mat-button (click)="goRegistrationPage()">Регистрация</button>
        <button class="main" *ngIf='localStorageService.getItem("userId")' mat-button (click)="goFriendsPage()">Друзья</button>
        <button class="main" *ngIf='localStorageService.getItem("userId")' mat-button (click)="logoff()">Выйти</button>
        <button class="main" mat-button (click)="goRoomPage()">Комната</button>
        <button class="main" mat-button (click)="goOtherUserPage()">Другой пользователь</button>
        <button class="main" *ngIf='localStorageService.getItem("userId")' mat-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">Уведомления</button>
      </div>
      <div style="display: table-cell;">
        <img *ngIf='localStorageService.getItem("userId") && localStorageService.getItem("logoUrl") && localStorageService.getItem("logoUrl").length>8' class="ava" align="right" style="margin-right: 1%; margin-left : 0.5%" src="{{localStorageService.getItem('logoUrl')}}">
        <img *ngIf='localStorageService.getItem("userId") && localStorageService.getItem("logoUrl") && localStorageService.getItem("logoUrl").length<=8' class="ava" align="right" style="margin-right: 1%; margin-left : 0.5%" src="assets/resource/nophoto.jpg">
      </div>
    </div>




  </div>
  <nb-layout>
    <nb-layout-column>
      <router-outlet></router-outlet>
    </nb-layout-column>

  </nb-layout>

  <div *ngIf="router.url.substring(0, 6) !== '/room/'">
    <app-recommendation-chat-open-button
      (click)="openChat()"of
      *ngIf="!chatIsOpen"
      class="open_button"
    ></app-recommendation-chat-open-button>

    <app-closable-recommendation-chat
      (closeChat)="closeChat()"
      *ngIf="chatIsOpen"
      class="chat"
    ></app-closable-recommendation-chat>
  </div>
  </body>
</html>


