<div class="container-fluid row mt-4">

  <!--  right column-->
  <div class="col">
    <div>
      <app-player
        *ngIf="!playerDisabled"
        [creatorId]="session.organizerID"
        [sessionId]="sessionId"
        [userId]="userId"
        [videoUrl]="film.filmVideo">
      </app-player>
    </div>

    <div class="row mt-2">
      <!-- название фильма-->
      <h2 class="col" *ngIf="film">
        {{film.filmTitle}}
      </h2>

      <div class="col-auto" *ngIf="session && session.organizerID === userId">
        <button (click)="onInviteFriendButtonClick()" color="primary" mat-raised-button>Добавить друзей</button>
      </div>
    </div>

  </div>

  <!--  right column-->
  <div class="col-sm-12 col-md-5 col-lg-3">
    <div style="">
      <app-chat
        *ngIf="!chatDisabled"
        [chatId]="session.chatID"
        [userId]="userId">
      </app-chat>
    </div>
  </div>
</div>
