<html >
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>
<style>
      .test{
      font-family: 'Cormorant Garamond', serif;
      font-size: 170%;
      color : #ffffff;
      }
      .test1{
      font-family: 'Cormorant Garamond', serif;
      font-size: 100%;
      color : black;
      }
   </style>
<body style="background-image: url(https://images.unsplash.com/photo-1486492440844-ebc195542a40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80); background-size: 100%;  " class="test" >
<br>
<div style="display: table; width: 100%; ">
  <div style="display: table-row; width: 100%; ">
    <div style="display: table-cell; width: 26%" align="center">
      <div>
        <img *ngIf="userprofile.online" src="assets/resource/img_1.png" style="width:4%; margin-left:10%" align="left" >
        <img *ngIf="!userprofile.online" src="assets/resource/img_2.png" style="width:5%; margin-left:10%" align="left">
      </div>
      <div>
        <img *ngIf="userprofile && userprofile.logoUrl.length>8" src={{userprofile.logoUrl}} style="width: 70%; vertical-align: middle" align="center">
        <img *ngIf="userprofile && userprofile.logoUrl.length<=8" src="assets/resource/nophoto.jpg" style="width: 70%; vertical-align: middle" align="center">
      </div>
      <div style="margin-left:10%">
        <button *ngIf="!this.friends.includes(this.userId) && !this.friendsIn.includes(this.userId) && !this.friendsInUser.includes(this.localStorageService.getItem('userId'))" (click)="addToFriend()" class="test" style="font-size: 80%; margin-top: 3%" mat-button>Отправить заявку</button>
        <button *ngIf=" this.friendsInUser.includes(this.localStorageService.getItem('userId'))" class="test" style="font-size: 80%; margin-top: 3%; color : #ffffff;" mat-button disabled>Заявка отправлена</button>
        <button *ngIf="!this.friends.includes(this.userId) && this.friendsIn.includes(this.userId)" class="test" style="font-size: 80%; margin-top: 3%" mat-button (click) ="acceptFriend()">Принять заявку</button>
        <button *ngIf="!this.friends.includes(this.userId) && this.friendsIn.includes(this.userId)" class="test" style="font-size: 80%; margin-top: 3%" mat-button (click)="declineFriend()">Отклонить заявку</button>
        <button *ngIf="this.friends.includes(this.userId)" class="test" style="font-size: 80%; margin-top: 3%" mat-button (click)="deleteFriend()">Удалить из друзей</button>
        <button *ngIf="this.localStorageService.getItem('admin')=='1'" class="test" style="font-size: 80%; margin-top: 3%" mat-button (click)="deleteUser()">Удалить пользователя</button>
      </div>
    </div>
    <div style="display: table-cell; width: 70%; vertical-align: top" align="center">

      <div style="margin-top: 3%">Пользователь {{userprofile.login}} с нами с {{userprofile.registrationDate}}...</div>
      <div style="margin-top: 3%">Вы подружитесь!</div>
<!--      <div>userId - {{userprofile.userId}}</div>-->
<!--      <div>email - {{userprofile.email}}</div>-->
<!--      <div>birthday - {{userprofile.birthday}}</div>-->
<!--      <div>description - {{userprofile.description}}</div>-->
      <div style="margin-top: 3%">А вот то, что мы предлагаем вам посмотреть вместе:</div>
      <div style=" width: 100%; margin-top:1%; margin-bottom:1%" align="center" >
        <mat-card class="test1" style="width: 20%; margin-left: 3%; margin-top: 3%; display: inline-block; height:500px;vertical-align: middle" *ngFor="let film of films; index as i">
          <div align="left">
            <div style="display: inline">
              <img src="assets/resource/rate.png" style="margin-top: 1%; margin-right: 2%; margin-left: 2%; width: 10%; float:inherit;" align="left">
            </div>
            <div style="display: inline;" align="left">{{(film.rating+"").substring(0,4)}}</div>
            <div style="display: inline">
              <img src="assets/resource/age.png" style="margin-top: 1%; margin-right: 2%; margin-left: 2%; width: 10%; float:inherit;" align="left">
            </div>
            <div style="display: inline;" align="left">{{film.ageRestrictions}}</div>
          </div>
          <img src={{film.logo}} style="margin-top: 2%; margin-right: 2%; margin-left: 2%; width: 90%">
          <div style="font-weight: bold; margin-left: 3%; margin-top:3%; margin-right: 3%;">{{film.name}}</div>
          <button mat-button  style="width: 80%; margin-left: 2%; margin-top: 3%; display: inline-block" class="test1" (click)="goFilmPage(film.id)">Смотреть</button>
        </mat-card>
      </div>

      <div>

      </div>
    </div>
  </div>
</div>
</body>
</html>
