<html >
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>
<style>
      .test{
      font-family: 'Cormorant Garamond', serif;
      font-size: 105%;
      color: black
      }
   </style>
<body >
<div class="test" style="width: 100%; height: 100%; text-align: center; background-color:rgba(0,0,0,1); background-image: url(https://images.unsplash.com/photo-1486492440844-ebc195542a40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80); background-size: 90% ; background-size:contain; ">
  <div style="text-align: center; display: inline-block; vertical-align: middle; width: 30%; background-color: #ffffff;border: 1px dotted black; border-radius: 10px 10px 10px 10px">
    <img src="assets/resource/img1.PNG" style="margin-top: 5%; width:70%; " >
    <div style="text-align : center; margin-top: 5%; margin-left:5%; margin-right : 5% " >Добро пожаловать в online кинотеатр Movie And Chill!</div>
    <div style="text-align : center; margin-left:5%; margin-right : 5% " class="test">Для авторизации, пожалуйста, заполните форму ниже.</div>
    <br>
    <mat-form-field class="test" appearance="fill" style="width:80%;  display: inline-block; vertical-align: middle; "    id="123">
      <mat-label class="test">Введите ваш логин</mat-label>
      <input class="test" matInput placeholder="Пример - ivan1234" [formControl]="login"  required >
      <mat-error class="test" *ngIf="this.login.invalid" >{{getErrorMessageLogin()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="test"  appearance="fill" style="width:80%;  display: inline-block; vertical-align: middle; " >
      <mat-label class="test" >Введите пароль</mat-label>
      <input class="test"  matInput  [type]="hidePass ? 'password' : 'text'" class = "login" placeholder="Пример - password12345*"  [formControl]="pass" required >
      <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
        <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error class="test"  *ngIf="this.pass.invalid">{{getErrorMessagePass()}}</mat-error>
    </mat-form-field>
    <br>
    <div style="margin-bottom: 5%">
      <button mat-button class="test" *ngIf="this.pass.invalid || this.login.invalid" [disabled]="true" type="submit">
        <div style="">Войти</div>
      </button>
      <button mat-button  class="test"  *ngIf="!this.pass.invalid && !this.login.invalid" type="submit" (click)="sendUserData()">
        <div style="">Войти</div>
      </button>
      <button mat-button class="test" >
        <div style="" (click)="goToForgotPassPage()">Забыли пароль?</div>
      </button>
    </div>
  </div>
  <div style="height: 100%; display: inline-block; vertical-align: middle;"></div>
</div>
</body>
</html>
