<h2 align="center"  style="font-family:Impact; color:#b22222" >Добро пожаловать в online кинотеатр Movie And Chill!</h2>

<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/resource/1.PNG" alt="Random first slide" style="width:87%;" vspace="3" hspace="91">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/resource/2.PNG" alt="Random second slide" style="width:87%;" vspace="3" hspace="91">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/resource/3.PNG" alt="Random third slide" style="width:87%;" vspace="3" hspace="91">
    </div>
  </ng-template>
</ngb-carousel>
